<article>
  <%= link_to "Back to all articles", articles_path, role: :button %>
  <div align="center">
    <h3>This is <%= @user.username %>'s page</h3>
    <br>
  </div>
</article>
<br>
<label>
  <h5 class="margin-0 padding-y-small">All <%= @user.username %>'s articles</h5>
</label>
<hr><br>
<%= render 'articles/articles', articles: @user_articles %>
