<article>
  <%= link_to "Go to all articles", articles_path, role: :button , class: :outline%>
  <div align="center" class="margin-y-medium">
    <h3>This is <%= @user.username %>'s page</h3>
    <br>
  </div>
</article>
<br>
<h5 class="margin-0 padding-y-small">All <%= @user.username %>'s articles</h5>
<hr><br>
<%= render 'articles/articles', articles: @user_articles %>
