<div class="home-content">
  <div><strong>Share your</strong></div>
  <div><strong>Relevant</strong></div>
  <div><strong>Expertise</strong></div>
  <div><strong>On <%= APP_NAME %></strong></div>
  <%= link_to "Join My Blog", '#' %>
</div>
