<div class='home-bg'>
  <div class='content' align='center'>
    <div><strong>Share your</strong></div>
    <div><strong>Relevant</strong></div>
    <div><strong>Expertise</strong></div>
    <div><strong>On <%= APP_NAME %></strong></div>
    <%= link_to "Join My Blog", '#' %>
  </div>
</div>
