<nav>
  <%= render 'shared/nav/left' %>
  <input type="checkbox" id="sidebar-active">
  <label for="sidebar-active" class="burger-menu"></label>
  <label id="overlay" for="sidebar-active"></label>
  <%= render 'shared/nav/right' %>
</nav>
