  
<li class="dropdown-top-margin">
  <details class="dropdown">
    <summary role="button" class="outline">
      <strong>Actions</strong>
    </summary>
    <ul>
      <li><%= link_to "Add new article", new_article_path %></li>
      <li><%= link_to "Add new category", new_category_path %></li>
    </ul>
  </details>
</li>