<li class="dropdown-top-margin">
  <details class="dropdown">
    <summary role="button" class="outline">
      <strong>Categories</strong>
    </summary>
    <ul>
      <li><%= link_to "All categories", categories_path %></li>
      <hr>
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </details>
</li>