<ul id="nav-left">
  <li>
    <%= link_to root_path  do %>
      <strong style="font-size: 1.4rem"><%= APP_NAME %>
        <span style="font-size: 1.7rem;"><%= image_tag "logo.svg" %></span>
      </strong>
    <% end %>
  </li>
</ul>
