/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 53%;
  height: 100vh;
}

nav {
  z-index: 1;
}

label {
  background-color: var(--pico-form-element-background-color);
  padding: 0 var(--pico-spacing);
  border-radius: var(--pico-border-radius);
  width: fit-content;
}

article,
nav,
input,
textarea,
label {
  opacity: 0.7;
}
