.home-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.home-content article {
  opacity: 0.95;
  max-width: 40vw;
}

.home-background {
  min-height: 100vh;
}

.about_img {
  width: 7rem;
  height: 7rem;
  border: 1px solid var(--pico-contrast);
  border-radius: 50%;
}

@media (max-width: 992px) {
  .home-content article {
    max-width: unset;
  }
}
