.navbar {
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0 0 1px var(--pico-contrast);
  padding: 0.4rem 18rem;
  z-index: 1;
  align-items: center;
  min-width: 20rem;
}

.navbar .dropdown-top-margin {
  margin-top: 0.45rem !important;
}

.navbar #sidebar-active {
  display: none !important;
}

.navbar #nav-right {
  display: flex;
  flex-direction: row;
}

.navbar #overlay {
  display: none;
}

@media (max-width: 1350px) {
  .navbar {
    padding: 0.4rem 7rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 0.4rem 3rem;
  }

  .navbar #nav-right {
    position: fixed;
    top: 0;
    right: -100%;
    width: 65vw;
    height: 100vh;
    background-color: var(--pico-background-color);
    box-shadow: 0 0 1px var(--pico-primary-inverse);
    flex-direction: column;
    align-items: start;
    padding: 1rem 2rem;
    transition: 0.7s ease-out;
  }

  .navbar .burger-menu {
    background: url("./burger-menu.svg") no-repeat;
    background-size: cover;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0 !important;
  }

  .navbar .close-btn {
    background: url("./close.svg") no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }

  .navbar #sidebar-active:checked ~ #nav-right {
    right: 0;
  }

  .navbar #sidebar-active:checked ~ #overlay {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
  }
}
