<%= render 'shared/errors', obj: category %>
<article>
  <%= form_for category do |f| %>
    <div class="margin-y-medium">
      <%= f.text_field :name, placeholder: true %>
    </div>
    <%= f.submit %>
  <% end %>
</article>